.htaccess
message/mass_email_multiple_groups_old.php
email_pdf/student-reg-term-condition-1637088468.pdf
ajax/ajss-classes_old.php
email_pdf/student-reg-term-condition-1640163329.pdf
.htaccess-LIVE
student_registration_request.php.rej
ajax/ajss-attendance_BACKUP_1560.php
ajax/ajss-attendance_BASE_1560.php
ajax/ajss-attendance_LOCAL_1560.php
ajax/ajss-attendance_REMOTE_1560.php
cron/OLDfILES/cron-homework-email.php-14SEP2021
cron/OLDfILES/cron-message.php-11SEP2021
cron/OLDfILES/cron-message.php-16SEP2021
email_pdf/student-reg-term-condition-1640590681.pdf
email_pdf/student-reg-term-condition-1640590687.pdf
homework/attachments/1.png
homework/attachments/Screenshot_2.png
logs/log_academy_27.12.2021.log
settings/uploads/61c952432217aICK-Logo-Transparent.png
*.pdf
includes/config.php
includes/config.php
includes/config.php
